body {
  margin: 0px;
  background-color: #e8e8e8;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body a:hover {
  color: orange;
}
header {
    background-color: #828282;
    box-shadow: 0px 0px 10px black;
}

#pageLabel {
    margin: 0px;
    text-align: center;
    color: white;
}

#pageLabel2{
  text-align: center;
  color: white;
}
main {
  float: right;
  width: 80%;
}

main h1 {
  padding-left: 16px;
}

main h3 {
  padding-left: 16px;
}

main p {
  padding-left: 30px;
}

hr {
      background-color: #828282;
      height: 5px;
}
nav {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: cornsilk;
}

nav p {
  margin: 0;
}

nav a {
  text-decoration: none;
}


footer {
    background-color: #828282;
    text-align: center;
    color: white;
}
